@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

.logo{
    display: flex;
    align-items: center;

}
.nav-logo1{
    width: 85px;
    height: 40px;
}
.gamer{
    font-size: 40px;
    font-weight: 700;
    margin-left: 20px;
}
.g{
    color: rgb(231, 29, 96);
}
.nav-logo2 img{
    width: 32px;
    height: 24px;
}
.nav-logo2{
    display: flex;
}

.ul{
    display: flex;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: #3C354F;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
nav > ul{
    align-items: center;
}
nav li{
    margin-right: 30px;
}
.btn1{
    border: 1px solid palevioletred;
    border-radius: 40px;
    text-align: center;
    background-color: palevioletred;
    color: white;
    padding: 10px;
}
.btn2{
    border: 1px solid #4EC5F7;
    border-radius: 40px;
    text-align: center;
    background-color: #4EC5F7;
    color: white;
    padding: 10px;
}
/* .btn2:hover{
    border: 2px solid blue;
} */

.f-background{
    display: flex;
    padding-top: 10px;
    padding-left: 20px;
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 8px;

}

/* Banner Section */

.banner{
    margin-left: 150px;
    background-image: url('../images/Group\ 14.png');
    width: 350px;
    padding: 20px;

}
.play{
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 600;
}
.goat{
    margin-top: 10px;
    margin: 5px;
    color: #cf1e76e6;
    font-size: 5.7rem;
    font-weight: 800;
    
}
.p{
    color: #534C64;
    font-size: 1.1rem;
}

.full-banner{
    width: 100%;
    margin: 0 auto;
    display: flex;
}
.banner-img{
    width: 580px;
    margin-left: 65px;
    
}

/* Mian Section */
/* Online games */
.online-h{
    font-size: 2.8rem;
    font-weight: 700;
    color: #0B0223;
    margin-bottom: -5px;
}
.funny{
    color: #cf1e76e6;
}
.online-p{
    color: #0B0223;
    font-size: 1.1rem;
    font-weight: 400;
}
.online-banner{
    text-align: center;
    margin-top: 60px;
}
.o-img{
}
.online-img img{
    border-radius: 16px;
    width: 225px;
    height: 260px;
}
.online-img img p{
    gap: 20px;
}
.online-img{

    display: flex;
    justify-content:space-evenly;
    margin: 0 180px;
}

/* section2 */
.play-instant{
    display: flex;
    align-items: center;
    margin: 60px 240px;
    gap: 80px;
}
.sec2-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.sec2-img img{
    width: 530px;
    height: 600px;
}

.btm-img img{
    width: 225px;
    height: 260px;
} 
.btm-img{
    position: relative;
    right: 670px;
    top: 240px;
}

/* Last section */




/*Responsive for mobile  */

@media screen and (max-width: 576px) {
    nav, .online-img, .play-instant {
        flex-direction: column;
    }
    nav > ul {
        flex-direction: column;
        margin-top: -20px;
    }
    .banner{
        margin-left: 80px;
        
    }
    .full-banner{
        flex-direction: column;
    }
    .banner-img {
        width: 80%;
    }
    .online-img{
        margin: 20px 140px;
    }
    .sec2-img{
        margin: 20px 140px;
    }
    .sec2{
        text-align: center;
    }
}

/* For Medium Device */
@media screen and (min-width: 576px) and (max-width: 960px){



}